/* TOP NAVIGATION */

* {
  margin:0 ;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.logo {
  float:left; 
  padding:0 30px; 
  margin-top: 25px;
  color:white;
}

.nav {
 height: 80px; 
 width:100%;
   background-color:rgb(243, 17, 9); 
}

.nav ul {
  /* position: absolute;
  /* display: inline-block; */
  /* width: 500px;
  height:23px;
  padding: 0;
  margin-right: 10px; */
  /* border: 2px solid black; */
  float:right;
  margin-top: 40px;
  padding: 0;
  /* margin:0p; */
  /* margin-top: 5px; */
  /* line-height: 0; */

}
.nav li {
  /* display: block; */
/* width: auto; */
  position: relative;
  margin-right: 10x;
  padding: 10px ;
  /* margin-top:50px; */
  /* margin: 0; */
  /* float: right; */

  /* margin-left: 100px; */
display: inline-block;
}

li:hover {
  background-color: grey;
  /* border: 2px solid whte; */
  }


.nav a {
  padding: 0px;
  margin: 0px;
color: white;
/* width:20px; */
line-height: auto;
display: inline-block;

/* margin: ; */
/* font-size: large; */
}
/* TOP NOVIGATION END ---------------------------------------------------------------------------------------*/
/* nav yellow */
.nav_yellow {
  height: 10px;
  background-color: yellow;
  width: auto;
}
/* LOGIN FORM START */
.LogInform1 {
    position:absolute;
    width:280px;
    top:30%;
   left:40%; 
  /*   margin:10px auto 0; */
    text-align:center;
  /*   padding:50px; */
    /*   trsform:translate (-50% ,-50%); */
  /*   background:linear-gradient(120deg,white,white); */
    box-shadow: 5px 5px lightgrey;  
    border:1px solid lightgrey;
  
  }
  
  .forget, .signup {
    margin:auto;
    padding:10px;
    width:180px;
    border-radius:3px;
    border:1px solid bloue;
  }
  .button {
    width: 80%;
    margin:20px;
    padding:10px;
  /*   border:1px solid red; */
  }
  .txtemail {
    width: 80%;
    padding:10px;
    margin:10px 0;
    border-radius: 20px;
    outline:none;
  /*   display: inline-block; */
    border: 1px solid lightgrey;
  }
  .txtpassword  {
    width: 80%;
    padding:10px;
    margin:10px 0;
    outline:none;
    border-radius: 20px;
    
  /*   display: inline-block; */
    border: 1px solid lightgrey;
  }
  .LogInform1 .h1 {
    color:blue;
    margin-top:60px;
    text-align:center;
    border: 1px solid rfed;
  }
  button {
    color:black;
    width:80%;
    padding:15px;
    border-radius: 10px;
    font-size:15px;
    margin:25px 0;
    border:none;
    outline:none;
    cursor:pointer;
    background:lightblue;
  }
  
  .circle {
    margin:-55px auto;
    Height:90px;
    Width:90px;
    background:yellow;
    border-radius: 60%;
  }
    
  .txtemail:hover ,.txtpassword:hover{
  /*   background-color: yellow; */
    border:2px solid lightblue;
  /*   background:cyan; */
  /*   display:none; */
  }
  
  .button:hover {
  /*   border-radius:1%; */
    background-color: cyan;
    transition: background-color .6s;
  }
  /* ------------------------------------------------------------------------------------------------------- */
